.card-section-container {
    position: absolute;
    width: 40%;
    right: 0;
    padding: 20px;
    margin-right: 70px;
    padding-top: 115px;
  }
  
  /* For tablets (devices with a width of up to 768px) */
  @media (max-width: 768px) {
    .card-section-container {
      width: 50%;
      margin-right: 40px;
      padding-top: 100px;
      padding: 10px;
    }
  }
  
  /* For smaller tablets and large phones (devices with a width of up to 600px) */
  @media (max-width: 600px) {
    .card-section-container {
      width: 60%;
      margin-right: 20px;
      padding-top: 85px;
      padding: 10px;
    }
  }
  
  /* For mobile phones (devices with a width of up to 480px) */
  @media (max-width: 480px) {
    .card-section-container {
      position: static; /* or 'relative' depending on your layout needs */
      width: 100%;
      margin-right: 0;
      padding-top: 60px;
      padding: 10px;
    }
  }
  